/* setBarViewSize() sets canvas html size from css  */

body {
	margin: 1em;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: 15pt;
}

 @media screen and (min-width: 800px) {
	body {
		padding-top: 4em;
		padding-left: 8em;
	}
	
	div#controls, div#displays {
		border-top: 0.5px solid #ddd;
		border-left: 0.5px solid #ddd;
	}
}

div#controls, div#displays {
	max-width: 36em;
	min-width: 24em;
	padding: 0.4em 1em ;
}

/* lines */
div#controls > div,  div#displays > div {
	/* background-color: #eef; */
	margin: 0.4em 0;
	/* height: 2em; */ /* ah, no line break if set */
	min-height: 2em;
}

button, span, input, select, canvas#barView, .pendulum, div#pendulumContainer {
	display: inline-block; 
	/* font: inherit; */ /* here everything em-based */
	/* line-height: inherit; */
	height: 2em; /* not select */
	font-family: inherit;
	font-size: 100%;
}

button, input, select {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

/* needed */
input, select, #barView, #pendulumContainer {
	vertical-align: middle;
}

/* with this suddenly accepts other rules like height (found by concidence), well, not text-align ... */
/* actually Firefox nicer without */
select {
	background-color: transparent;
}

span, button {
	width: 9em;
}
select, input[type="number"] {
	width: 6em;
	text-align: center; /* not select */
}
input[type="range"] {
	width: 17em;
}

.wideDisplay {
	width: 24em;
}

div#pendulumContainer {
	position: relative; /* children */
	outline: 0.5px solid gray;
}
/* swing and hits */
.pendulum {
	width: 2em;
	background-color: #0f0;
	position: absolute;
	opacity: 0;
} 
#pendulumSwing {
	/* actual transition, transform defined and triggered in gui.js */
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	background-color: #ccc;
	opacity: 1;
} 
#pendulumHit {
	left: 0;
}
#pendulumHit2 {
	/* right did not work ? */
	left: 22em;
}
/* animation-name set in gui.js */
@keyframes opa {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* nextX changed */
.notYet {
	background-color: #cfc;
}
.hidden { visibility: hidden }