/* setBarViewSize() sets canvas html size from css  */
/* not only em-based anymore ... */

body {
	margin: 1em;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: 15pt;
}

div#controls, div#displays {
/* 
	max-width: 27em;
	min-width: 20em;
 */
	padding: 0.4em 1em ;
	/* background-color: yellow; */
}

 @media screen and (min-width: 800px) {
	body {
		padding-top: 3em;
		padding-left: 8em;
	}
	
	div#controls, div#displays {
		border-top: 0.5px solid #ddd;
		border-left: 0.5px solid #ddd;
		
		max-width: 33em; /* line break 2nd display, better have block display? */
	}
}

@media screen and (orientation: landscape) {
	body {
		background-color: #aaf;
		
	}
	.wideDisplay {
		width: 32em;
	}
}
@media screen and (orientation: portrait) {
	body {
		background-color: orange;
	}
	.wideDisplay {
		width: 18em;
	}
}


/* lines */
div#controls > div,  div#displays > div {
	/* background-color: #eef; */
	margin: 0.4em 0;
	/* height: 2em; */ /* ah, no line break if set */
	min-height: 2em;
}

button, span, input, select, canvas#barView, div#pendulumContainer, .pendulum {
	display: inline-block; 
	/* font: inherit; */ /* here everything em-based */
	/* line-height: inherit; */
	height: 2em; /* not select */
	font-family: inherit;
	font-size: 100%;
}

canvas#barView, div#pendulumContainer {
	display: block;
	width: 100%; /* always break line */
}

button, input, select {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

/* needed */
input, select, #barView, #pendulumContainer {
	vertical-align: middle;
}

/* with this suddenly accepts other rules like height (found by concidence), well, not text-align ... */
/* actually Firefox nicer without */
select {
	background-color: white;
}

span, button {
	width: 7em;
}
select, input[type="number"] {
	width: 6em;
	text-align: center; /* not select */
}
input[type="range"] {
	width: 17em;
}

.wideDisplay {
	/* width: 24em; */
	/* width: 100%; */
}

div#pendulumContainer {
	position: relative; /* children */
	outline: 0.5px solid gray;
}
/* swing and hits */
.pendulum {
	width: 2em;
	background-color: #0f0;
	position: absolute;
	opacity: 0;
} 
#pendulumSwing {
	/* actual transition, transform defined and triggered in gui.js */
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	background-color: #ccc;
	opacity: 1;
} 
#pendulumHit {
	left: 0;
}
#pendulumHit2 {
	/* right did not work ? */
	/* left: 22em; */ /* hm, trying percentage on parent, now */
	left: calc(100% - 2em);
}
/* animation-name set in gui.js */
@keyframes opa {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* nextX changed */
.notYet {
	background-color: #cfc;
}
.hidden { visibility: hidden }