
body {
	margin: 1em;
	font-family: sans-serif;
	font-size: 12pt;
}

div#controls, div#displays {
	padding: 0.4em 1em ;
	border-top: 0.5px solid #ddd;
	border-left: 0.5px solid #ddd;
	
	margin: 0 auto;
}

@media screen and (min-width: 43em) {
	body {
		font-size: 13pt;
	}
} /* next condition also true  */

@media screen and (min-width: 35em) {
	body {
		
	}
	div#controls, div#displays {
		width: 33em; 
	}
	input[type="range"] {
		width: 18em;
	}
	.wideDisplay {
		width: 32em;
	}
	
	@keyframes swing {
		from {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-moz-animation-timing-function: linear;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
		to {
			-moz-transform: translateX(30em);
			-webkit-transform: translateX(30em);
			transform: translateX(30em);
		}
	}
	@keyframes swingBack {
		from {
			-moz-transform: translateX(30em);
			-webkit-transform: translateX(30em);
			transform: translateX(30em);
			-moz-animation-timing-function: linear;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
		to {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	#pendulumHit2 {
		left: 30em; 
	}
/* 
	#displays::after {
		content: "layout wide"
	}
 */

}
@media screen and (max-width: 35em)
{
	body {
	}
	div#controls, div#displays {
		width: 17em; 
	}
	input[type="range"] {
		width: 16em;
	}
	.wideDisplay {
		width: 16em;
	}
	
	@keyframes swing {
		from {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-moz-animation-timing-function: linear;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
		to {
			-moz-transform: translateX(14em);
			-webkit-transform: translateX(14em);
			transform: translateX(14em);
		}
	}
	@keyframes swingBack {
		from {
			-moz-transform: translateX(14em);
			-webkit-transform: translateX(14em);
			transform: translateX(14em);
			-moz-animation-timing-function: linear;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
		to {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	#pendulumHit2 {
		left: 14em; 
	}

/* 
	#displays::after {
		content: "layout narrow"
	}
 */
}


/* lines */
div#controls > div,  div#displays > div {
	margin: 0.4em 0;
	/* height: 2em; */ /* ah, no line break if set */
	min-height: 2em;
}

button, span, input, select, #barView, 
div#pendulumContainer, .pendulum {
	display: inline-block; 
	height: 2em; /* not select */
	font-family: inherit;
	font-size: 100%;
	
	vertical-align: middle; 
	
	line-height: 2em; /* inline-block spans ! */

	/* outline: 1px solid red; */
}


#barView, div#pendulumContainer {
	display: block;
}

button, input, select {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

/* with this suddenly accepts other rules like height (found by concidence), Safari not white?, not text-align ... */
/* actually Firefox nicer without */
select {
	background-color: transparent;
}

span, button {
	width: 7em;
}
select, input[type="number"] {
	width: 6em;
	text-align: center; /* not select webkit, but Firefox */
}

div#pendulumContainer, #barView {
	position: relative; /* children */
	/* outline: 0.5px solid gray; */ /* not visible Safari */
}

.barViewBeatBox, #pendulumSwing {
	background-color: silver;
}

#barViewBeatBox {
	stroke: none;
	fill: silver;
}
#currentBeatInBarBox {
	stroke: none;
	fill: magenta;
}


/* swing and hits */
.pendulum {
	width: 2em;
	background-color: #0f0;
	position: absolute;
	opacity: 0;
} 
#pendulumSwing {	
	opacity: 1;
	left: 0;
} 
#pendulumHit {
	left: 0;
}

.swing {
	-moz-animation-name: swing;
	-webkit-animation-name: swing;
	animation-name: swing;
}
.swingBack {
	-moz-animation-name: swingBack;
	-webkit-animation-name: swingBack;
	animation-name: swingBack;
}
.hit {
	-moz-animation-name: opa;
	-webkit-animation-name: opa;
	animation-name: opa;
}


@keyframes opa {
	from {
		opacity: 1;
		-moz-animation-timing-function:  cubic-bezier(0, 0.62, 0.36, 1);
		-webkit-animation-timing-function:  cubic-bezier(0, 0.62, 0.36, 1);
		animation-timing-function:  cubic-bezier(0, 0.62, 0.36, 1);
	}
	to {
		opacity: 0;
	}
}


/* nextX changed */
.notYet {
	background-color: #cfc;
}
.hidden { visibility: hidden }

#postView {
	font-family: monospace;
	font-size: 0.8em;
	background-color: yellow;
}