/* setBarViewSize() sets canvas intrinsic size from css  */


body {
	margin: 1em;
	font-family: sans-serif;
	font-size: 12pt;
}

@media screen and (min-device-width: 700px) {
	body {
		padding-top: 4em;
		padding-left: 8em;
	}
}

div#controls, div#displays { max-width: 33em;}

/* lines */
div#controls > div,  div#displays > div {
	/* background-color: #eef; */
	margin: 0.4em 0;
	/* height: 2em; */ /* ah, no line break if set */
	min-height: 2em;
}

button, span, input, select, canvas#barView, .pendulum, div#pendulumContainer {
	display: inline-block; 
	font: inherit; /* here everything em-based */
	height: 2em; /* not select */
}

/* not select */
input, select, #barView, #pendulumContainer {
	vertical-align: middle;
}
/* 
.label {
	vertical-align: baseline;
}
 */

span, button {
	width: 8em;
}
select, input[type="number"] {
	width: 5em;
	text-align: center;
}
input[type="range"] {
	width: 16em;
}

/* 
canvas#barView, div#pendulumContainer {
	width: 22em;
}
 */
.wideDisplay {
	width: 22em;
	/* background-color: #fcc; */
}

/* nextX changed */
.notYet {
	background-color: #cfc;
}


div#pendulumContainer {
	position: relative; /* children */
	/* border: 0.5px solid gray; */
	outline: 0.5px solid gray;
}
/* swing and hits */
.pendulum {
	width: 2em;
	background-color: #0f0;
	position: absolute;
} 
#pendulumSwing {
	/* actual transition, transform defined and triggered in gui.js */
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	background-color: #ccc;
} 
#pendulumHit {
	left: 0;
	opacity: 0;
}
#pendulumHit2 {
	/* right did not work ? */
	left: 20em;
	opacity: 0;
}
/* animation-name set in gui.js */
@keyframes opa {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#debugContainer {
	margin-top: 1em;
	font-family: monospace; 
}
#postView {
	margin-top: 0.5em;
}

#debugContainer > button { display: none; }
